name: Release to Master

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create tag and PR
        uses: ./.github/actions/release-to-master
        with:
          tag: ${{ inputs.tag }}
          token: ${{ secrets.TOKEN }}
